.ColorBox {
  padding: 1rem;
  text-transform: uppercase;
  position: relative;
  outline: none;
  transition: transform 150ms ease;
}

.ColorBox:focus-visible {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
}

.boxBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.color-name {
  padding: 0.5rem 1rem;
  color: #ffffffbd;
}

.box-btn,
.link {
  color: #ffffffbd;
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  font-size: 0.85rem;
  background-color: rgba(50, 50, 50, 0.25);
}

.box-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  color: #fff;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  border: none;
  outline: none;
  opacity: 0;
  transition: opacity 200ms linear, transform 100ms ease-out;
  pointer-events: none;
}

.link {
  cursor: pointer;
  transform-origin: 100%;
  transition: transform 100ms ease-in;
}

.link:hover {
  transform: scale(1.25, 1);
}

.ColorBox:hover > .box-btn,
.ColorBox:focus-visible > .box-btn {
  opacity: 1;
  pointer-events: all;
}

.box-btn:focus-visible {
  opacity: 1;
  outline: 1px solid #000;
}

.box-btn:active {
  transform: translate(-48%, -48%);
  box-shadow: none;
}
