.Home {
  height: 100vh;
  overflow-y: scroll;
  background-color: #3c40c6;
}

.MiniPalettes {
  display: grid;
  width: min(100%, 800px);
  margin: 2rem auto;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  gap: 2rem;
}
