.MiniPalette {
  width: 100%;
  text-decoration: none;
  padding: 0.5rem;
  background-color: rgb(236, 240, 241);
  color: #1a2530;
  border-radius: 0.15rem;
  position: relative;
  transition: transform 200ms ease;
  display: flex;
  flex-direction: column;
}

.MiniPalette::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0.15rem;
  box-shadow: 0 0 1rem 0.65rem rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 250ms linear;
}

.inner-palette {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 0.15rem;
  overflow: hidden;
}

.box {
  height: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
  margin-top: auto;
  text-decoration: none;
  color: #1d2935;
}

.MiniPalette:hover,
.MiniPalette:focus {
  transform: scale(1.1);
}

.MiniPalette:hover::after,
.MiniPalette:focus::after {
  opacity: 1;
}

.MiniPalette:hover .delete-btn {
  opacity: 1;
}

.delete-btn {
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  background: #d31a1f;
  padding: 0.25rem;
  border-radius: 0 0 0 0.25rem;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.delete-btn > svg {
  fill: #fff;
}
