.Header {
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 2rem;
}

.Logo {
  background-color: rgb(216, 220, 221);
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(44, 62, 80);
  text-decoration: none;
}

.Logo > span {
  font-weight: 400;
}

.input {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.range {
  width: 200px;
}
